<div class="withdrawl">
  　<%= link_to "退会しない", customers_path, class:"btn btn-primary" %>
    <%= link_to "オラ退会すっぞ", customers_withdraw_path(current_customer), method: :patch, class:"btn btn-danger" %>
</div>