<div class = "container">
  <div class = "row">
    <div class = "col-lg-8 mx-auto">
      <div class = "display-2 pb-4 text-center">About</div>
      <div class = "text-center font-size: 100px">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br />
        お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br />
        様々なバリエーションをご⽤意しております。<br />
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br />
        ぜひご注⽂ください。<br />
        <br />
        <img class="card-img　mx-auto mt-4" src="http://osakavisa.com/wp-content/uploads/2016/08/9dfef523c537cacbdab751105e5906a0_s.jpg" alt="">
      </div>
    </div>
  </div>