<div class = "container">
    <div class = "row">
      <div class = "col-lg-8 mx-auto">
        <div class = "text-box">
            <img class="card-img　mx-auto mt-5" src="https://www.quil-fait-bon.com/imgdata/omn/474w.jpg" alt="">
              <p class="lead text-center mt-3">
                ようこそ、ながのCAKEへ<br />
                このサイトは、ケーキ販売のECサイトになります！<br />
                会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。<br />
              </p>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #CD853F; width: 100%;">
    <div class = "container">
      <h2 class = "mt-5 mb-2"><i class="far fa-plus-square"></i>New</h2>
      <%= render 'public/items/items', items: @items %>
      <p class = "text-right"><%= link_to "全ての商品を見る⇒", items_path , class: "text-dark" %></p>
    </div>
  </div>