<div class = "container">
    <div class = "row">
      <div class = "col-lg-8 mx-auto">
        <div class = "text-box">
            <%= image_tag 'title.001.png', class:"shadow-lg p-3 mb-5 bg-white rounded" %>
              <h5 class="text-center mt-3">
                Welcome to NAGANO CAKE.<br />
                This site is an e-commerce site for cake sales!<br />
                 Non-members can browse the products, but membership registration is required to purchase.<br />
              </h5>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <div class = "container">
      <h3 class = "mt-5 mb-2"><i class="far fa-plus-square"></i>New</h3>
      <%= render 'public/items/items', items: @items %>
      <p class = "text-right"><%= link_to "全ての商品を見る⇒", items_path , class: "text-dark" %></p>
    </div>
  </div>