<div class="container">
    <h2 class="mt-5">会員一覧</h2>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th colspan="3">ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to customer.full_name, admin_customer_path(customer.id) %>
            </td>
            <td>
              <%= customer.email %>
            </td>
            <% if customer.customer_status == false %>
              <td class="text-success">
                有効
              </td>
            <% else %>
              <td class="text-muted">
                退会
              </td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
    </table>
  </div>