<% addresses.each do |address| %>
  <tr>
    <td><%= address.post_cord %></td>
    <td><%= address.address %></td>
    <td><%= address.name %></td>
    <td>編集する</td>
    <td>削除する</td>
  </tr>
<% end %>