<div class = "container">
    <div class = "row">
      <div class = "col-lg-8 mx-auto">
        <div class = "text-box">
            <h1 class="lead text-center mt-5 font-weight-bold" style="font-size: 60px;">
             Thank you so much!!
            </h1>
            <p style="font-size:250px;">　</p>
        </div>
      </div>
    </div>
</div>
