<div class = "container">
    <div class = "row">
      <div class = "col-lg-8 mx-auto">
        <div class = "text-box">
            <h2 class="lead text-center mt-5 font-weight-bold">
             ご注文いただきありがとうございました
            </h2>
            <img class="card-img　mx-auto mt-3"style="width:100%;" src="https://images.pexels.com/photos/3913295/pexels-photo-3913295.jpeg?cs=srgb&dl=pexels-svetlana-b-3913295.jpg&fm=jpg">
        </div>
      </div>
    </div>
</div>
