<div class="container">
  <div class="row">
    <div class="col-sm-12 px-sm-0 mb-3">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="font-weight-bold mt-5 bg-light">注文履歴一覧</h2>
          </div>
        </div>
      </div>
      <table class="table table-borderd">
        <thead class="table-light">
          <tr>
            <th class="border-dark bg-light" style="width: 15%">注文日</th>
            <th class="border-dark bg-light" style="width: 45%">配送日</th>
            <th class="border-dark bg-light" style="width: 10%">注文商品</th>
            <th class="border-dark bg-light" style="width: 10%">支払金額</th>
            <th class="border-dark bg-light" style="width: 10%">配送日</th>
            <th class="border-dark bg-light" style="width: 10%">注文詳細</th>
          </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="border-dark align-middle text-center">
              <%= order.created_at.strftime('%Y/%m/%d') %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>