<div class="container">
  <div class="row">
    <div class="col-sm-12 px-sm-0 mb-3">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h2 class="font-weight-bold mt-5 bg-light">注文履歴</h2>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="pr-2">
          <p class="font-weight-bold">注文情報</p>
          <table>
            <%= %>

          </table>
        </di>
      </div>
  </div>
</div>