  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% items.each do |item| %>
    <div class="col mb-4">
      <div class="card h-100 ml-5" style="width: 250px;">
        <%= attachment_image_tag item, :image, size:"200x200", class:"card-img-top" %>
        <div class="card-body" style="height:85px;">
          <h5 class="card-title"><%= link_to item.name, item_path(item.id) %></h5>
          <% if item.is_active == true %>
            <p class="card-text">￥<%= item.price %></p>
          <% elsif item.is_active == false %>
            <p class="card-text text-muted">売り切れ中</p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>