<div class="container">
  <h2 class="mt-5">商品一覧</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @items.each do |item| %>
    <div class="col mb-4">
      <div class="card h-100">
        <%= attachment_image_tag item, :image, size:"200x200", class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to item.name, item_path(item.id) %></h5>
          <p class="card-text">￥<%= item.price %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= paginate @items %>
</div>